<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Collect Server</title>
</head>
<body>
    <form action="" method="post">
        <p>mac: <input type="text" id="mac" name="mac"></p>
        <p>tmp: <input type="text" id="tmp" name="tmp"></p>
        <p>hum: <input type="text" id="hum" name="hum"></p>
        <p>co2: <input type="text" id="co2" name="co2"></p>
        <input type="submit" value="send">
    </form>
</body>
</html>